/** Media Queries **/
@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columns, $gap ) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin button($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc($gap / 2);
    transition: all 0.1s;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darken($bgColor, 10);
    }
}
