.form {
	width: 80%;
	margin: 0 auto;

	fieldset {
		margin-top: 2rem;
	}

	p {
		font-size: 1.4rem;
		color: $darkGray;
		margin: 0;
	}

	legend {
		font-size: 2rem;
		color: $yellow;
		font-weight: $bold;
	}

	label {
		text-transform: uppercase;
		display: block;
	}

	input:not([type='submit']),
	textarea,
	select {
		padding: 1rem;
		display: block;
		width: 100%;
		border-radius: 5px;
		border: 1px solid $gray;
		margin-bottom: 1.5rem;
	}

	.contact-form {
		max-width: 30rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

#phone-contact,
#email-contact {
	margin: 0;
}
